.cell{
    background-color: #ddd;
    display: inline-block;
    border: 1px solid #fff;
    cursor: pointer;
}
.cell:hover{
    border: 1px solid #222;
}

.cell.selected{
    background-color: #D4A190;
}

.cell.select{
    background-color: #A1D490;
}

.cell.conflict{
    background-color: #C390D4;
}

.cell.pick{
    background-color: #90C3D4;
}
